@import url("https://fonts.googleapis.com/css2?family=Norican&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Norican&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #FFFFFF;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  color: #FFFFFF;
  text-decoration: none; }

body {
  font-family: 'Norican', cursive;
  font-family: 'Poppins', sans-serif; }

.btn-hard-md {
  width: 173px;
  height: 53px;
  border-radius: 8px;
  border: none;
  background-color: #FFC222;
  color: #1E1D23;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s ease; }
  .btn-hard-md:hover {
    background-color: #dfab00;
    color: #FFFFFF; }

.btn-hard-sm {
  width: 129px;
  height: 39px;
  color: #1E1D23;
  background-color: #FFC222;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  transition: all .3s ease; }
  .btn-hard-sm:hover {
    color: #FFFFFF; }

header {
  position: sticky;
  top: 0;
  z-index: 9999; }
  header nav {
    height: 70px;
    padding: 0 30px;
    background-color: #1E1D23;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between !important; }
    header nav .burger-menu {
      position: relative;
      padding-top: 10px;
      border: none;
      appearance: none;
      outline: none;
      display: none; }
      header nav .burger-menu:checked ~ .header-nav-menu {
        width: 280px; }
        header nav .burger-menu:checked ~ .header-nav-menu li a {
          font-size: 1.5rem; }
      header nav .burger-menu::before {
        content: "";
        background: url(../../uploads/icons/burger.png) no-repeat;
        background-size: 70px 70px;
        background-position: -10px;
        position: absolute;
        width: 50px;
        height: 50px; }
    header nav .telephone {
      display: none; }
      header nav .telephone img {
        width: 40px;
        position: relative;
        top: 18%;
        right: 7px; }
    header nav .header-nav-menu {
      transition: all 2s ease  !important;
      height: 345px;
      background-color: #1E1D23;
      width: 250px;
      margin-top: 70px;
      z-index: 99;
      position: absolute;
      left: 0;
      width: 0px;
      display: none;
      transition: width 0.3s ease; }
      header nav .header-nav-menu li {
        transition: background-color 1s ease; }
        header nav .header-nav-menu li a {
          display: inline-block;
          padding: 1.6rem;
          font-size: 0rem;
          font-weight: 700;
          line-height: 5px;
          transition: font-size 1.3s ease; }
          header nav .header-nav-menu li a:hover {
            color: #FFFFFF; }
        header nav .header-nav-menu li:hover {
          background-color: #FFC222; }
    header nav .burger-menu-logo {
      display: none; }
    header nav .nav-wrap {
      display: flex;
      justify-content: space-between; }
      header nav .nav-wrap .navbar-wrapper {
        display: flex; }
        header nav .nav-wrap .navbar-wrapper .logo-marizona {
          width: 180px;
          margin-right: 1rem;
          padding: 2rem; }
        header nav .nav-wrap .navbar-wrapper .logo-m {
          width: 80px;
          margin-right: 1rem;
          padding: 2rem;
          display: none; }
        header nav .nav-wrap .navbar-wrapper .header-nav {
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center; }
          header nav .nav-wrap .navbar-wrapper .header-nav li a {
            padding: 1.6rem;
            font-size: 1.5rem;
            font-weight: 700;
            transition: color .5s ease; }
            header nav .nav-wrap .navbar-wrapper .header-nav li a:hover, header nav .nav-wrap .navbar-wrapper .header-nav li a:focus {
              color: #FFC222; }
      header nav .nav-wrap .header-right-wrap {
        display: flex; }
        header nav .nav-wrap .header-right-wrap .tel {
          display: none;
          width: 4rem;
          height: 4rem;
          margin-right: -50px; }
        header nav .nav-wrap .header-right-wrap .about-delivery {
          display: flex;
          align-items: center;
          justify-content: center; }
          header nav .nav-wrap .header-right-wrap .about-delivery .delivery-icon img {
            width: 5rem;
            color: red;
            margin-right: 1.5rem; }
          header nav .nav-wrap .header-right-wrap .about-delivery .delivery-text {
            font-size: 1.3rem;
            font-weight: 500; }
          header nav .nav-wrap .header-right-wrap .about-delivery .delivery-number {
            font-size: 2.4rem;
            font-weight: 700;
            color: #FFC222;
            margin-right: 1.5rem; }
        header nav .nav-wrap .header-right-wrap .personal-things {
          display: flex;
          align-items: center;
          justify-content: center; }
          header nav .nav-wrap .header-right-wrap .personal-things li {
            padding: .5rem;
            margin: .6rem;
            width: 4.3rem;
            height: 4.3rem;
            border-radius: 50%;
            border: 1px solid white;
            transition: background-color .5s ease; }
            header nav .nav-wrap .header-right-wrap .personal-things li:hover {
              background-color: #FFC222; }
            header nav .nav-wrap .header-right-wrap .personal-things li a {
              display: flex;
              align-items: center;
              justify-items: center; }
              header nav .nav-wrap .header-right-wrap .personal-things li a img {
                width: 1.7rem;
                margin: .7rem auto; }

@media screen and (max-width: 1210px) {
  .about-delivery {
    display: none !important; } }

@media screen and (max-width: 991.5px) {
  .nav-wrap {
    justify-content: center !important; }
  .personal-things {
    display: none !important; } }

@media screen and (max-width: 768px) {
  .header-nav {
    display: none !important; }
  .burger-menu {
    display: block !important; }
  .header-nav-menu {
    display: block !important; }
  .telephone {
    display: block !important; }
  .nav-wrap {
    position: relative;
    right: -25px; } }

@media screen and (max-width: 375px) {
  .logo-marizona {
    display: none !important; }
  .logo-m {
    display: block !important; } }

.category {
  height: 162px;
  background-color: #00A149; }
  .category .categories {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    background-color: transparent; }
    .category .categories-item {
      display: flex;
      text-align: center;
      justify-content: space-between;
      position: relative;
      align-items: center;
      width: 161px;
      height: 121px;
      transition: background-color .5s ease; }
      .category .categories-item a:hover {
        color: #FFFFFF; }
      .category .categories-item:hover {
        background: #FFC222; }
      .category .categories-item span {
        width: 100px;
        display: block;
        font-size: 1.3rem;
        font-weight: 700;
        transition: color .5s ease;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0); }
      .category .categories-item img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px !important; }

@media screen and (max-width: 375px) {
  .categories-item {
    margin: 0 auto; } }

.main {
  width: 100%;
  height: 120vh;
  background-image: url(https://demo2wpopal.b-cdn.net/poco/wp-content/uploads/2020/08/slider1-h3.jpg);
  background-repeat: no-repeat;
  background-size: 2300px;
  display: flex;
  position: relative; }
  .main .main-ad {
    position: absolute;
    right: 100px;
    top: 200px;
    width: 500px;
    height: 350px; }
    .main .main-ad__slogan {
      font-family: 'Norican', cursive;
      color: #FFFFFF;
      font-size: 6.2rem;
      display: block; }
    .main .main-ad__title {
      font-size: 90px;
      font-weight: 700;
      color: #FFC222; }
    .main .main-ad__description {
      font-size: 1.8rem;
      line-height: 3.2rem;
      color: #FFFFFF;
      display: inline-block;
      margin-bottom: 30px; }

.wrapper {
  margin-top: 50px; }
  .wrapper .ads {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 40px; }
    .wrapper .ads span {
      font-family: 'Norican', cursive;
      font-size: 3.5rem;
      color: #FFC222;
      line-height: 3.5rem;
      margin-bottom: 2px;
      display: block; }
    .wrapper .ads h2 {
      font-size: 4rem;
      color: #FFFFFF;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 1rem; }
    .wrapper .ads p {
      font-size: 1.6rem;
      color: #FFFFFF;
      line-height: 1.6rem;
      margin-bottom: 3rem;
      width: 190px;
      overflow-wrap: break-word; }
    .wrapper .ads .ad-wrapper-1 {
      width: 52rem;
      height: 53.2rem;
      border-radius: 0.8rem;
      padding: 3.5rem;
      background-position: center;
      background-size: cover;
      background-image: url(../../uploads/images/banner1-h3.jpg);
      background-repeat: no-repeat;
      margin-bottom: 0px; }
      .wrapper .ads .ad-wrapper-1:hover {
        overflow: hidden;
        background-size: 540px; }
      .wrapper .ads .ad-wrapper-1 span {
        color: #FFFFFF; }
      .wrapper .ads .ad-wrapper-1 h2 {
        font-size: 7rem;
        color: #FFC222;
        line-height: 7rem; }
      .wrapper .ads .ad-wrapper-1 p {
        line-height: 2.7rem; }
    .wrapper .ads .ads-wrapper {
      height: 53.2rem; }
      .wrapper .ads .ads-wrapper .ad-wrappers {
        width: 43rem;
        height: 25rem;
        padding: 3.5rem; }
        .wrapper .ads .ads-wrapper .ad-wrappers__2 {
          background-image: url(../../uploads/images/banner2-h3.jpg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 0.8rem; }
          .wrapper .ads .ads-wrapper .ad-wrappers__2 span {
            color: #FFFFFF; }
          .wrapper .ads .ads-wrapper .ad-wrappers__2:hover {
            overflow: hidden;
            background-size: 450px; }
        .wrapper .ads .ads-wrapper .ad-wrappers__3 {
          background-image: url(../../uploads/images/banner3-h33.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0.8rem;
          position: absolute;
          bottom: 0; }
          .wrapper .ads .ads-wrapper .ad-wrappers__3:hover {
            overflow: hidden;
            background-size: 450px; }
    .wrapper .ads .ad-wrapper-4 {
      text-align: center;
      align-items: center;
      width: 295px;
      height: 532px;
      padding: 35px;
      background-image: url(../../uploads/images/banner4-h3.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px; }
      .wrapper .ads .ad-wrapper-4:hover {
        overflow: hidden;
        background-size: 320px; }
      .wrapper .ads .ad-wrapper-4 button {
        background-color: #FFFFFF;
        color: #1E1D23;
        transition: all .3s ease; }
        .wrapper .ads .ad-wrapper-4 button:hover {
          background-color: #FFC222;
          color: #FFFFFF; }
  .wrapper .slogans {
    display: flex;
    justify-content: space-between; }
    .wrapper .slogans .slogan {
      display: flex;
      width: 410px;
      height: 130px;
      padding: 22px 30px;
      border: 3px dashed #e5e5e5;
      border-radius: 8px;
      transition: border-color .5s ease; }
      .wrapper .slogans .slogan:hover {
        border-color: #FFC222; }
      .wrapper .slogans .slogan__icon {
        width: 70px;
        height: 70px;
        margin-right: 27px;
        transition: all .5s ease; }
        .wrapper .slogans .slogan__icon:hover {
          width: 73px;
          height: 73px; }
      .wrapper .slogans .slogan__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 33px;
        color: #1E1D23; }
      .wrapper .slogans .slogan__description {
        font-size: 14px;
        line-height: 25px;
        color: #999; }

@media screen and (max-width: 1024px) {
  .main {
    background-size: cover !important; }
    .main .main-ad {
      right: 0 !important; }
  .wrapper .ads .ad-wrapper-1 {
    width: 377px; }
    .wrapper .ads .ad-wrapper-1 span {
      font-size: 20px;
      line-height: 20px; }
    .wrapper .ads .ad-wrapper-1 h2 {
      line-height: 40px;
      font-size: 24px; }
    .wrapper .ads .ad-wrapper-1 p {
      line-height: 27px;
      font-size: 15px; }
    .wrapper .ads .ad-wrapper-1 button {
      width: 128px;
      height: 39px;
      font-size: 15px; }
  .ad-wrapper-4 {
    width: 211px !important; }
    .ad-wrapper-4 span {
      font-size: 20px !important;
      line-height: 20px !important; }
    .ad-wrapper-4 h2 {
      font-size: 24px !important;
      line-height: 40px !important; }
    .ad-wrapper-4 p {
      font-size: 16px;
      line-height: 16px !important; }
    .ad-wrapper-4 button {
      width: 128px !important;
      height: 39px !important;
      font-size: 15px !important; }
  .wrapper .ad-wrappers {
    width: 295px !important;
    height: 255px !important;
    margin: 0 17px 0 17px; }
    .wrapper .ad-wrappers span {
      font-size: 20px !important;
      line-height: 20px !important; }
    .wrapper .ad-wrappers h2 {
      font-size: 24px !important;
      line-height: 40px !important; }
    .wrapper .ad-wrappers p {
      font-size: 16px;
      line-height: 16px !important; }
    .wrapper .ad-wrappers button {
      width: 128px !important;
      height: 39px !important;
      font-size: 15px !important; } }

@media screen and (max-width: 991px) {
  .slogans {
    width: 600px !important;
    display: block !important; }
    .slogans .slogan {
      width: 600px !important;
      margin-top: 10px !important; } }

@media screen and (max-width: 925px) {
  .wrapper .ads .ad-wrapper-1 {
    width: 221px; }
  .wrapper .ads .ad-wrappers {
    width: 200px; } }

@media screen and (max-width: 850px) {
  .wrapper .ads .ad-wrappers {
    width: 200px !important;
    margin: 0 !important; } }

@media screen and (max-width: 769px) {
  main .main {
    height: 80vh !important; }
    main .main .main-ad {
      margin: 70px auto 0 auto !important;
      position: static !important;
      text-align: center; }
  .wrapper {
    width: 525px !important; }
    .wrapper .ads {
      width: 525px !important;
      display: block !important;
      margin: 0 !important; }
      .wrapper .ads .ad-wrapper-1 {
        width: 525px !important;
        height: 255px !important;
        margin-bottom: 10px !important; }
      .wrapper .ads .ad-wrapper-4 {
        width: 525px !important;
        height: 255px !important;
        text-align: left;
        margin-bottom: 30px !important; }
      .wrapper .ads .ad-wrappers {
        width: 525px !important;
        margin: 0 !important; }
        .wrapper .ads .ad-wrappers__3 {
          position: static !important;
          margin-top: 10px !important; }
  .slogans {
    width: 525px !important;
    display: block !important; }
    .slogans .slogan {
      width: 525px !important;
      margin-top: 10px !important; } }

@media screen and (max-width: 535px) {
  .wrapper {
    width: 300px !important;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important; }
    .wrapper .ads {
      width: 300px !important;
      margin: 0 auto !important; }
      .wrapper .ads .ad-wrapper-1 {
        width: 300px !important; }
      .wrapper .ads .ad-wrapper-4 {
        width: 300px !important;
        text-align: center !important; }
      .wrapper .ads .ad-wrappers {
        width: 300px !important; }
  .slogans {
    width: 300px !important; }
    .slogans .slogan {
      width: 300px !important; }
      .slogans .slogan h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        margin-top: 15px; }
      .slogans .slogan p {
        display: none !important; } }

@media screen and (max-width: 488px) {
  .main .main-ad__slogan {
    font-size: 5rem !important; }
  .main .main-ad__title {
    font-size: 67px !important; }
  .main .main-ad__description {
    font-size: 1.5rem !important; } }

@media screen and (max-width: 375px) {
  .main .main-ad__slogan {
    font-size: 3rem !important; }
  .main .main-ad__title {
    font-size: 60px !important; }
  .main .main-ad__description {
    font-size: 1.1rem !important; } }
